@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model Prediction
<!--
// Author: Ryan Pinkney, Tanner Davis, Kevin Gutierrez, Jacob Poor
    This is the page to display the model result

-->
<section>
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-12">
                <div class="text-center mb-5">
                    <br />
                    <div class="pb-5">

                        <!-- Display the title and the photo -->
                        <h1 class="fw-bolder">Crash Analyzer</h1>
                        <img src="~/img/CarCrashInfo.png" width="1200" />
                    </div>

                    <!-- Sub title -->
                    <h2 class="fw-bolder">View the output of the Crash Analyzer:</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <!-- Print out the model results-->
        <!-- Format the table to display the result -->
        <!-- The result messages dynamically change -->
        @if (Model.PredictedValue == "1")
        {
            <table class="table table-sm table-striped table-bordered">
                <tr>
                    <td class="text-center font-weight-bold">Crash Severity:</td>
                    <td>@Model.PredictedValue</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">Outcome:</td>
                    <td>No Injury</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">Recommendations:</td>
                    <td>
                        <ul>
                            <li>Keep Monitoring data for any alarming changes</li>
                            <li>Continue to regulate speed limits and intersection design</li>
                        </ul>
                    </td>
                </tr>
            </table>

        }
        <!-- Print out the model results-->
        <!-- Format the table to display the result -->
        @if (Model.PredictedValue == "2")
        {

            <table class="table table-sm table-striped table-bordered">
                <tr>
                    <td class="text-center font-weight-bold">Crash Severity: </td>
                    <td>@Model.PredictedValue</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">Outcome: </td>
                    <td>Possible Injury</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">Recommendations:</td>
                    <td>
                        <ul>
                            <li>Consider implementing a flashing speed limit sign</li>
                            <li>Reevalute traffic laws and speed limits</li>
                        </ul>
                    </td>
                </tr>
            </table>
        }
        <!-- Print out the model results-->
        <!-- Format the table to display the result -->
        @if (Model.PredictedValue == "3")
        {
            <table class="table table-sm table-striped table-bordered">
                <tr>
                    <td class="text-center font-weight-bold">Crash Severity: </td>
                    <td>@Model.PredictedValue</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">Outcome: </td>
                    <td>Suspected Minor Injury</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">Recommendations:</td>
                    <td>
                        <ul>
                            <li>Add stop signs to smaller local roads</li>
                            <li>Survey roads for dimly lit areas</li>
                            <li>Repave old roads with potholes and cracks</li>
                            <li>Repaint traffic lines with reflective paint</li>
                        </ul>
                    </td>
                </tr>
            </table>
        }
        <!-- Print out the model results-->
        <!-- Format the table to display the result -->
        @if (Model.PredictedValue == "4")
        {
            <table class="table table-sm table-striped table-bordered">
                <tr>
                    <td class="text-center font-weight-bold">Crash Severity: </td>
                    <td>@Model.PredictedValue</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">Outcome: </td>
                    <td>Suspected Serious Injury</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">Recommendations:</td>
                    <td>
                        <ul>
                            <li>Evaluate and redesign left turn lanes</li>
                            <li>Talk to law enforcement to enforce distracted driving laws</li>
                            <li>Build roundabouts in new developments</li>
                        </ul>
                    </td>
                </tr>
            </table>
        }
        <!-- Print out the model results-->
        <!-- Format the table to display the result -->
        @if (Model.PredictedValue == "5")
        {
            <table class="table table-sm table-striped table-bordered">
                <tr>
                    <td class="text-center font-weight-bold">Crash Severity: </td>
                    <td>@Model.PredictedValue</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">Outcome: </td>
                    <td>Fatal</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">Recommendations:</td>
                    <td>
                        <ul>
                            <li>Reduce speed limits in area</li>
                            <li>Impose heavy fines against distracted/intoxicated drivers</li>
                            <li>Analyze accident and factors that played in to fatal outcome</li>
                        </ul>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="col-3"></div>
</div>
